html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 10px 30px 10px 30px;
}

/* For Large Screen Start */
@media screen and (min-width: 1025px) {

}

@media (min-width: 768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, .3);
        background-color: #000;
        border: none;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li > a {
        color: rgba(255, 255, 255, 1);
    }

    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #f05f40;
    }
}

/*Layout for Ipad(lanscape)*/
@media only screen and (max-width: 1050px) {

}

@media only screen and (min-width: 768px) and (max-width: 1050px) {

}

/*Layout for Ipad(portrait)*/
@media only screen and (max-width: 992px) {

}

/*Layout for Mobile(lanscape)*/
@media handheld, only screen and (max-width: 767px) {

}

/*Layout for Mobile(portrait)*/
@media only screen and (max-width: 479px) {

}

/*Small Moblie Screen*/
@media only screen and (max-width: 320px) {

}